<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Результаты розыгрыша</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="resetStyle.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section class="main--section">
      <h1>Победители</h1>
      <div class="table--wrapper"></div>
    </section>
    <script>
      const htmlData = <%-JSON.stringify(htmlData)%>
    </script>
    <script src="./script.js"></script>
  </body>
</html>
